@mixin rounding {
  border-radius: 10px;
}

.music-cover-art {
  // :@include rounding;
  background-color: transparent;
  // background-size: cover:
  background-size: 10%;
  // background-size: auto 65%;
  background-repeat: no-repeat;
  background-image: url("eww_covers/cover_art_default");
  // background-position: 50% 15%;
  // border-radius: 5px;
  // margin: 1em;
  // min-height: 200px;
  min-width: 200px;
}
