@import "mocha.css";

* {
  border: none;
  font-family: "FiraCode Nerd Font Mono";
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 0;
}

window#waybar {
  background-color: @crust;
}

#custom-arch,
#workspaces {
  color: @lavender;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-arch {
  font-size: 20px;
  color: @lavender;
}

#workspaces button {
  color: @lavender;
}

#workspaces button.active {
  color: @blue;
}

#clock {
  color: @blue;
  padding-left: 10px;
  padding-right: 10px;
}

#backlight {
  color: @yellow;
  padding-left: 10px;
  padding-right: 10px;
}

#pulseaudio {
  color: @mauve;
  padding-left: 10px;
  padding-right: 10px;
}

#bluetooth {
  color: @sapphire;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-network {
  color: @teal;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-network.disconnected {
  color: @overlay0;
}

#custom-battery {
  color: @green;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-battery.charging {
  color: @green;
}

#custom-battery.warning {
  color: @yellow;
}

#custom-battery.critical {
  color: @red;
}
